product/app/WebViewGoogle/WebViewGoogle.apk
product/app/Messages/Messages.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/HMDCamera/HMDCamera.apk
system_ext/apex/com.android.vndk.v30.apex
modem.img
